body {
    background: linear-gradient(to bottom right, var(--primary-color), #212530);
    background-attachment: fixed; 
}


.nav-pills .nav-link.active {
    background:  linear-gradient(to right, var(--color-purple-light-xs), var(--color-purple-light-s));
}

.nav-link {
    color : var(--color-white);
    background-color: var(--color-purple-dark);
}
.nav-link:hover {
    color: var(--color-white);
}

.link-forgot-password {
    text-decoration: none; 
    color: inherit;
    font-style: italic;
    font-size: var(--font-size-s);
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-250px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.card {
    background:  linear-gradient(to right, var(--color-light-gray-xxs), var(--color-light-gray-xxxs));
    border-radius: 20px;
    box-shadow: 0 0 23px var(--color-gray-l) !important;
    animation: fadeInFromLeft 0.8s ease-out;
}

.card-title {
    font-size: var(--font-size-xl);
}

/* .content-form-login {
    margin: 25px 30px 0 30px;
} */

.form-label {
    margin-bottom: 4px;
}

.test-marge {
    margin-bottom: 35px 0;
    margin-top: 35px;
}

.logo-custom {
    width: 300px;
}

.logo-icon-container {
    position: absolute;
    top: 25px;
    left: 25px;
}
.logo-icon {
    width: 50px;
    opacity: 50%;
    height: auto;
}

.error-alert {
    color : rgb(197, 10, 10);
}